[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "matrixdist"]
	path = matrixdist
	url = https://github.com/martinbladt/matrixdist_1.0
